{% comment %} {% assign r = restaurant[1] %}

<div class="col-xs-12 col-md-4 social-panel-col">
    <div class="panel panel-default hover-shadow-panel restaurant-panel" data-name="{{ restaurant.name | downcase }}" data-cuisines="{{ restaurant.cuisines | join: ',' | downcase }}" data-rating="{{ restaurant.rating }}">
        <div class="panel-heading projects-panel-head">
            {% assign full_stars = r.rating | floor %}
            {% assign half_star = r.rating | modulo: 1 %}
            {% assign empty_stars = 5 | minus: full_stars | minus: (half_star >= 0.5 | plus: 0) | ceil %}
            {% for i in (1..full_stars) %}
                <i class="fa-solid fa-star" aria-hidden="true"></i>
            {% endfor %}
            {% if half_star >= 0.5 %}
                <i class="fa-solid fa-star-half-alt" aria-hidden="true"></i>
            {% endif %}
            {% for i in (1..empty_stars) %}
                <i class="fa-solid fa-star-o" aria-hidden="true"></i>
            {% endfor %}
            {{ r.name }}
        </div>
        <div class="panel-body">
            <p><strong>Address:</strong> {{ r.address }}</p>
            {% if r.neighborhood %}
                <p><strong>Neighborhood:</strong> {{ r.neighborhood }}</p>
            {% endif %}
            <p><strong>Cuisine:</strong> {{ r.cuisines | join: ', ' }}</p>
            {% if r.visits %}
                <p><strong>Visited:</strong> {{ r.visits | last }}</p>
            {% endif %}
            {% if r.price_range %}
                <p><strong>Price:</strong> {{ r .price_range }}</p>
            {% endif %}
            <p><strong>TL;DR:</strong> {{ r .tldr }}</p>

            {% if r.review_embed or r.review %}
                <button class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#review-embed-{{ r.name | slugify }}" aria-expanded="false" aria-controls="review-embed-{{ r.name | slugify }}">Show Review</button>
                <div class="collapse" id="review-embed-{{ r.name | slugify }}">
                    {% if r.review %}
                        <p>{{ r.review }}</p>
                    {% endif %}
                    {% if r.review_embed %}
                        {{ r.review_embed }}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div> {% endcomment %}
