<head>
    {% include _head/metadata.liquid %}

    <!-- Link main CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    <!-- Link custom CSS -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

    <!-- Configure title element of the page -->
    <title>
        {% comment %} If both site.title and page.title are defined, display both as "<SITE TITLE> - <PAGE TITLE>" {% endcomment %}
        {% if site.title && page.title %}
            {{ site.title }} - {{ page.title }}
        
        {% comment %} If only page.title is defined, display it as "<PAGE TITLE>" {% endcomment %}
        {% elsif page.title %}
            {{ page.title }}
        
        {% comment %} If only site.title is defined, display it as "<SITE TITLE>" {% endcomment %}
        {% elsif site.title %}
            {{ site.title }}
        
        {% comment %} If neither site.title nor page.title are defined, display an error message as the title {% endcomment %}
        {% else %}
            ERROR: cannot resolve page title
        
        {% endif %}
    </title>
</head>
