<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4"> 
            <div class="panel panel-default projects-panel">
                <div class="panel-heading projects-panel-head">
                    <div class="row">
                        <div class="col-xs-12 col-md-8">
                            <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
                                {% comment %} {% if project.img %}
                                    <img src="/assets/images/{{ project.img }}" alt="{{ project.title }}" class="img-responsive img-rounded">
                                {% endif %} {% endcomment %}
                                <h2 class="panel-title projects-panel-head-title">{{ project.title }}</h2>
                                <p>{{ project.sub_title }}</p>
                            </a>
                        </div>
                        <div class="col-xs-12 col-md-4 text-right-md projects-panel-head-links">
                            {% if project.paper %}
                                <a href="{{ project.paper }}" class="projects-panel-head-icon"><i class="fa-solid fa-file"></i></a>
                            {% endif %}
                            {% if project.url %}
                                <a href="{{ project.website }}" class="projects-panel-head-icon"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                            {% endif %}
                            {% if project.github %}
                                <a href="{{ project.github }}" class="projects-panel-head-icon"><i class="fa-brands fa-github"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <p class="card-text">{{ project.description }}</p>
                </div>
                <div class="panel-footer">
                </div>
            </div>
    </div>
</div>
