{% raw %}
<div class="fnb-popup">
  <div class="fnb-header">
    <strong>{{name}}</strong> {{journey_symbol}}
    <div class="muted">{{location}}</div>
    <div class="muted">{{address}}</div>
    {{cuisines_html}}
    {{price_block}}
    {{value_html}}
  </div>

  <div class="fnb-body">
    {{awards_panel}}
    {{summary_panel}}
    {{links_block}}
  </div>
</div>
{% endraw %}
