{% comment %} Inspired (i.e., copied and slightly modified) by https://github.com/alshedivat/al-folio {% endcomment %}

<div class="row">
    {% comment %} TODO: Add back commented out stuff when time prevails {% endcomment %}

    <div class="col-xs-12 col-sm-1 abbr">
        {%- if entry.abbr -%}
            {%- if site.data.venues[entry.abbr] -%}
                {% assign venue_style = null %}
                {%- if site.data.venues[entry.abbr].color != blank -%}
                    {%- assign venue_style = site.data.venues[entry.abbr].color | prepend: 'style="background-color:' | append: '"' -%}
                {%- endif -%}
                <abbr class="badge rounded w-100" {%- if venue_style -%}{{ venue_style }}{%- endif -%}>
                    {%- if site.data.venues[entry.abbr].url -%}
                        <a href="{{ site.data.venues[entry.abbr].url }}">{{ entry.abbr }}</a>
                    {%- else -%}
                        <div>{{- entry.abbr -}}</div>
                    {%- endif -%}
                </abbr>
            {%- else -%}
                <abbr class="badge rounded w-100">{{ entry.abbr }}</abbr>
            {%- endif -%}
        {%- endif -%}

        {% comment %} {% if entry.preview %}
            {% if entry.preview contains '://' %}
                <img class="preview z-depth-1 rounded" src="{{ entry.preview }}">
            {% else %}
                {% assign entry_path = entry.preview | prepend: '/assets/img/publication_preview/' %}
                {%
                include figure.liquid
                loading="eager"
                path=entry_path
                sizes = "200px"
                class="preview z-depth-1 rounded"
                zoomable=true
                avoid_scaling=true
                alt=entry.preview
                %}
            {% endif %}
        {% endif %} {% endcomment %}
    </div>

    <div class="col-xs-12 col-sm-10">
        <div class="title"><b>{{ entry.title }}</b></div>

        <div class="author">
            {%- assign author_array_size = entry.author_array | size -%}
            {%- assign author_array_limit = author_array_size -%}
            {%- if site.max_author_limit and author_array_size > site.max_author_limit -%}
                {%- assign author_array_limit = site.max_author_limit -%}
            {%- endif -%}

            {%- for author in entry.author_array limit: author_array_limit -%}
                {%- assign author_is_self = false -%}
                {%- assign author_last_name = author.last | regex_replace: "[*∗†‡§¶‖&^]", "" -%}
                {%- assign author_last_html = author.last | regex_replace: "([*∗†‡§¶‖&^]+)", "<sup>\1</sup>" -%}
                {%- if site.scholar.last_name contains author_last_name and site.scholar.first_name contains author.first -%}
                    {%- assign author_is_self = true -%}
                {%- endif -%}
                {%- assign coauthor_url = null -%}
                {%- assign clean_last_name = author_last_name | downcase | remove_accents -%}
                {%- if site.data.coauthors[clean_last_name] -%}
                    {%- for coauthor in site.data.coauthors[clean_last_name] -%}
                        {%- if coauthor.first_name contains author.first -%}
                            {%- assign coauthor_url = coauthor.url -%}
                            {%- break -%}
                        {%- endif -%}
                    {%- endfor -%}
                {%- endif -%}

                {%- if forloop.length > 1 -%}
                    {%- if forloop.first == false -%},&nbsp;{%- endif -%}
                    {%- if forloop.last and author_array_limit == author_array_size -%}and&nbsp;{%- endif -%}
                {%- endif -%}
                {%- if author_is_self -%}
                    <div class="self">{{ author.first }} {{ author_last_html }}</div>
                {%- else -%}
                    {%- if coauthor_url -%}
                        <a href="{{ coauthor_url }}">{{- author.first }} {{ author_last_html -}}</a>
                    {%- else -%}
                        {{- author.first }} {{ author_last_html -}}
                    {%- endif -%}
                {%- endif -%}
            {%- endfor -%}
            
            {% comment %} {%- assign more_authors = author_array_size | minus: author_array_limit -%}
            {%- assign more_authors_hide = more_authors | append: ' more author' -%}
            {% if more_authors > 0 %}
                {%- if more_authors > 1 -%}
                    {% assign more_authors_hide = more_authors_hide | append: 's' %}
                {%- endif -%}
                {% assign more_authors_show = '' %}
                {%- for author in entry.author_array offset: author_array_limit -%}
                    {% assign more_authors_show = more_authors_show | append: author.first | append: ' ' | append: author.last %}
                    {% unless forloop.last %}
                        {% assign more_authors_show = more_authors_show | append: ', ' %}
                    {% endunless %}
                {%- endfor -%}
                {%- assign more_authors_show = more_authors_show | regex_replace: '([*∗†‡§¶‖&^]+)', '<sup>\1</sup>' -%}
                , and
                <span
                    class="more-authors"
                    title="click to view {{ more_authors_hide }}"
                    onclick="
                        var element = $(this);
                        element.attr('title', '');
                        var more_authors_text = element.text() == '{{ more_authors_hide }}' ? '{{ more_authors_show }}' : '{{ more_authors_hide }}';
                        var cursorPosition = 0;
                        var textAdder = setInterval(function(){
                        element.html(more_authors_text.substring(0, cursorPosition + 1));
                        if (++cursorPosition == more_authors_text.length){
                            clearInterval(textAdder);
                        }
                    }, '{{ site.more_authors_animation_delay }}');
                    "
                >
                    {{- more_authors_hide -}}
                </span>
                {% endif %}
                {% if entry.annotation %}
                <i class="fa-solid fa-circle-info ml-1" data-toggle="popover" data-placement="top" data-html="true" data-content="{{ entry.annotation | escape }}"></i>
            {% endif %} {% endcomment %}
        </div>

        <div class="periodical">
            {%- assign venue = "" -%}
            {%- if entry.journal -%}
                {%- assign venue = entry.journal -%}
            {%- elsif entry.booktitle -%}
                {% assign venue = "In the " | append: entry.booktitle -%}
            {%- elsif entry.school -%}
                {% assign venue = entry.school -%}
            {%- endif -%}
            {{ venue }}{%- if venue != "" -%}, {% endif -%}{%- if entry.month -%}{{ entry.month | capitalize }}.&nbsp;{%- endif -%}{%- if entry.year -%}{{ entry.year }}{%- endif -%}
        </div>

        <div class="links">
            {% if entry.abstract %}
                <a class="btn btn-sm" id="abs-btn-{{ entry.key }}">Abstract</a>
            {% endif %}
            {% if entry.arxiv %}
                <a href="http://arxiv.org/abs/{{ entry.arxiv }}" class="btn btn-sm">arXiv</a>
            {% endif %}
            {% if entry.html %}
                {% if entry.html contains "://" %}
                    <a href="{{ entry.html }}" class="btn btn-sm">HTML</a>
                {% else %}
                    <a href="{{ entry.html | prepend: '/assets/html/' | relative_url }}" class="btn btn-sm">HTML</a>
                {% endif %}
            {% endif %}
            {% if entry.pdf %}
                <a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm">PDF</a>
            {% endif %}
        </div>
        {% if entry.abstract %}
            <p class="abstract hidden" id="abs-{{ entry.key }}">{{ entry.abstract }}</p>
        {% endif %}
    </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var btn = document.getElementById("abs-btn-{{ entry.key }}");
    var abstractDiv = document.getElementById("abs-{{ entry.key }}");
    if (btn && abstractDiv) {
        btn.addEventListener("click", function() {
            abstractDiv.classList.toggle("hidden");
        });
    }
});
</script>
